@import "common/foundation/variables";

body {
  background: transparent;
}

#main {
  padding-bottom: 20px;
}

#main-outlet {
  padding: 15px;
  width: 97%;
}

.container.posts > .row {
  max-width: 100%;
  overflow: hidden;
}
